@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* WHole Body Style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /* background-color: #24252A; */
}


/* NavBar style */

li,
a,
button {
    font-weight: 500;
    font-style: 16px;
    color: #24252A;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    font-size: 26px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    border-bottom: #FFFFFF solid 1px;
}

.nav_links li a:hover {
    border-bottom: #000000 solid 1px;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 15, 8, 1);
    color: #FFFFFF;
    border: #FFFFFF solid 0.1px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    border: #000000 solid 0.1px;
}

.text-container{
    margin: 100px 0 0 0;
    padding: 50px;
    background-color: black;
}

.text-container .main {
    text-align: center;
    font-size: 68px;
    color: white;
}

.main b {
    font-weight: bold;
}



/* About me section */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
    padding: 0 50px;

}

.about-me, .my-thought{
    margin: 0 25px;
    padding: 20px 100px;
    justify-content: space-between;
}

.my-thought {
    font-size: 30px;
}


/* Project Section */
.project-container{
    background-color: #000000;
    margin: 50px 100px;
    padding: 50px;
    border: none;
    border-radius: 10px;
    color: white;
}

.description p {
    font-size: 26px;
    font-weight: 500;
}

.project {
    margin: 50px 0;
    display: flex;
}

.project-description p{
    padding: 0 50px 0 0;
}

.project-description button {
    margin-top: 50px;
    background-color: white;
    border: #353535 solid 1px;
    color: black;
}

.project-description button:hover {
    margin-top: 50px;
    background-color: #000000;
    border: #D2D7DF solid 1px;
    color: white;
}

.project img{
    border: none;
    border-radius: 10px;
    object-fit: cover;
}



/* Hobbies section */

.hobbies {
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hobbies-description{
    padding-right: 60em;
}

.hobbies-container {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    gap: 40px;
}

.hobby{
    height: 650px;
    width: 700px;
    padding: 40px;
    gap: 20px;
    background-color: #000000;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.hobby h2{
    text-decoration: underline;
}
